body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;              
  padding: 10px 50px;              
  background-color: #d7cace;     
}

.logo img {
  height: 75px;
  display: block;
}

.menu a {
  margin-left: 20px;
  text-decoration: none;
}

.footer {
  background-color: #fce4ec;
  color: #333;
  padding: 20px 0;
  text-align: center;
  border-top: 1px solid #ddd; 
  margin-top: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #0b8a5a
}

.janelas {
    display: flex;       
    flex-wrap: wrap;    
    gap: 20px;            
    justify-content: center;
    padding: 20px;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;           
    padding: 20px;
}

.place {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    max-width: 660px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.place img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    margin-top: 15px;
}


.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    flex-grow: 1;
}

.titulo-pagina {
  font-family: serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.banner-container {
    width: 100%;
    max-width: 1000px;
}

.banner-imagem {
    width: 100%;
    height: auto;
    border-radius: 30px;
    display: block;
    object-fit: cover;
}